<%= link_to lists_path, class: 'back' do %><%= fa_icon 'arrow-left 2x' %><% end %>
<% title "#{@list.name} List" %>

<section class="list medium-6 medium-offset-3 large-6 large-offset-3 columns">
	<header>
		<%= render 'update', list: @list %>

		<!-- <p class="created-at medium-3 columns"><%= format_date(@list.created_at) %></p> -->
		
		<a href="<%= list_url(@list) %>" title="Copy to clipboard" class="copy cornered" style="right: 50px; font-size: 1.5em; vertical-align: -webkit-baseline-middle;"><%= fa_icon 'link' %></a>
		<%= render 'destroy', list: @list, size: 2 %>
	</header>
	
	<%= render 'tasks/index', list: @list %>

	<%= render 'tasks/new', list: @list, task: @new_task %>

	<footer class="updated-at">
		<small><b>Updated</b> <%= updated_at(@list.updated_at)[:date] %> <b>at</b> <%= updated_at(@list.updated_at)[:time] %></small>
	</footer>
</section>

<section class="medium-3 large-5 columns">
	
</section>