<%= link_to lists_path, class: 'back' do %><%= fa_icon 'arrow-left 2x' %><% end %>
<% title "#{@list.name} List" %>

<section class="list small-10 small-offset-1 small- medium-6 medium-offset-3 large-6 large-offset-3 columns">
	<header>
		<%= render 'update', list: @list %>
		
		<a href="<%= list_url(@list) %>" title="Copy to clipboard" class="copy cornered" style="right: 50px; font-size: 1.5em; vertical-align: -webkit-baseline-middle;"><%= fa_icon 'link' %></a>
		<%= render 'destroy', list: @list, size: 2 %>
	</header>
	
	<%= render 'tasks/index', list: @list %>

	<%= render 'tasks/new', list: @list, task: @new_task %>

	<footer class="updated-at">
		<small><b>Updated</b> <%= date_and_time(@list.updated_at)[:date] %> <b>at</b> <%= date_and_time(@list.updated_at)[:time] %></small>
		<div class="created-at">
			<small><b>Created</b> <%= date_and_time(@list.created_at)[:date] %></small>
		</div>
	</footer>
</section>

<section class="small-1 medium-3 large-5 columns">
	
</section>