<%= form_for([list, task], remote: true, authenticity_token: true, html: {class: 'update-task'}) do |f| %>
	<div class="row">
		<div class="task">
			<div class="input-group no-margin">
				<div class="input-group-field">
					<%= f.check_box :state, class: 'state no-margin updatable' %>
				</div>
				<div class="input-group-field">
					<%= f.text_field :description, class: "no-margin updatable description #{'crossed' if task.state}" %>
				</div>

				<div class="input-group-field">
					<%= link_to list_task_path(list, task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'remove' do %>
						<%= fa_icon "remove" %>
					<% end %>
				</div>
			</div>

			<%= render "tasks/#{task.type.underscore}", task: task, form: f %>
		</div>
	</div>
<% end %>