<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> Todoist - <%= content_for?(:title) ? yield(:title) : "Manage your tasks like a Pro" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <a href="#" id="myBtn"></a>
    <div id="myModal" class="todo-modal">

      <!-- Modal content -->
      <div class="todo-modal-content">
        <div id="last-lists"></div>
      </div>

    </div>
    <%= yield %>

    <% if minumum_lists_added? %>
      <div data-alert class="alert-box success">
        <%= link_to 'Last 5 lists', last_lists_path, remote: true %>
      </div>
      <% end %>
  </body>
</html>
